{% extends "base/master.twig" %}
{% set title = 'ログイン' %}
{% block header %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block main %}
    {{ form_start(form, { 'action' : 'book', 'method' : 'post', 'multipart' : true }) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.user, { 'value' : '' }) }}
            {{ form_label(form.user, 'ユーザ名') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.password, { 'value' : '' }) }}
            {{ form_label(form.password, 'パスワード') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 center-block">
            <button class="btn waves-effect waves-light" type="submit">
                ログイン
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}