{% extends "base/master.twig" %}
{% set title = 'アップロード管理ページ' %}
{% block header %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block main %}
    {{ form_start(form, { 'action' : 'book', 'method' : 'post', 'multipart' : true }) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.bookname, { 'value' : '' }) }}
            {{ form_label(form.bookname, '絵本名') }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <div class="field-name">アプリ用リソース</div>
            {{ form_widget(form.upload_app, { 'value' : '' }) }}
        </div>
    </div>
        <div class="row">
        <div class="input-field col s12">
            <div class="field-name">ディスプレイ用リソース</div>
            {{ form_widget(form.upload_disp, { 'value' : '' }) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 center-block">
            <button class="btn waves-effect waves-light" type="submit">
                アップロード
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}