<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
        {% block head %}
            <link  type="text/css" rel="stylesheet" href="/mst/css/materialize.min.css" media="screen,projection"/>
            <link  type="text/css" rel="stylesheet" href="/mst/css/main.css" media="screen,projection"/>
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="/mst/js/materialize.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        <div class="container">{% block main %}{% endblock %}</div>
        <footer>{% block footer %}{% endblock %}</footer>
    </body>
</html>